html, body {
    margin: 0;
    padding: 0;

}

/* typography and icons */

h1{
    color: #0f8cdf;
    margin-bottom: 10px;
    font-size: 20px;
}

/*layout*/
main, header {
    width: 290px;
    margin: 0 auto;
}

header {
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textarea + button */
textarea {
    border: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height:  60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    resize: none;
}

button {
    background-color: #1da1f2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;

}
/* profile image */
.profile-pic {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

