html, body {
    margin: 0;
    padding: 0;

}

/* typography and icons */

h1{
    color: #0f8cdf;
    margin-bottom: 10px;
    font-size: 20px;
}

.liked{
    color: red;
}

.retweeted {
    color: limegreen
}

/*layout*/
main, header {
    width: 290px;
    margin: 0 auto;
}

header {
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textarea + button */
textarea {
    border: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height:  60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    resize: none;
}

/* tweet layout */
.tweet {
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

/* tweet details layout */
.tweet-details {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail {
    display: flex;
    gap: 4px;
}

button {
    background-color: #1da1f2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;

}
/* profile image */
.profile-pic {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

